<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:root-context.xml
			/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>						<!-- 생성되면서 참고할 파일? -->
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>				<!-- 포함하고 만든거기 때문에 받아서 리졸버로 넘김 -->
		<load-on-startup>1</load-on-startup>
		<!-- <async-supported>true</async-supported> -->	<!-- 채팅 추가 부분 -->
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>	<!-- *.do에서 /로 변경(챗) 모든 url을 받아주기는함. -->
	</servlet-mapping>
	
	<!-- <beans:bean id="echoHandler" class="com.tproject.util.EchoHandler"/> -->
	
	<!-- 멤버 관련 -->
	<servlet>
		<servlet-name>memberServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>	<!-- 디스패처서블릿 경로 -->
		<init-param>						<!-- 생성되면서 참고할 파일? -->
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/member-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberServlet</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	
	
	<!-- 공용에러페이지 등록 -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/view/common/errorPage.jsp</location>
	</error-page>
	
	<!-- 한글 인코딩 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- welcomefileList가 다른 web.xml에 정의되어있음. -->
	
	
	<!-- 게시판 관련 -->
	<servlet>
		<servlet-name>boardServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>	<!-- 디스패처서블릿 경로 -->
		<init-param>						<!-- 생성되면서 참고할 파일? -->
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/board-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardServlet</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>
	
</web-app>
